.row(*ngIf="authService.userData as user")
    .col-md-12
        .media
            img.align-self-start.mr-5.img-thumbnail.rounded-circle(src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{ user.displayName }}")
            .media-body
                .h1 Hello: 
                    strong {{(user.displayName) ? user.displayName : 'User'}}
                p User ID: 
                    strong {{user.uid}}
                p Email:
                    strong {{user.email}}
                p Email Verified: 
                    strong {{user.emailVerified}}

a.nav-link(routerLink="/add-post" routerLinkActive="active") add
a.nav-link(routerLink="/posts" routerLinkActive="active") posts

button('(click)'="signOut()") signOut